{
    "timeout": 120,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "ArrayItemRemoval": {
            "ignore": [
                "Mammatus\\Cron\\Composer\\Installer",
                "Mammatus\\Cron\\Generated\\AbstractManager"
            ]
        },
        "CastBool": {
            "ignore": [
                "Mammatus\\Cron\\Composer\\Installer",
                "Mammatus\\Cron\\Generated\\AbstractManager"
            ]
        },
        "Concat": {
            "ignore": [
                "Mammatus\\Cron\\Composer\\Installer",
                "Mammatus\\Cron\\Generated\\AbstractManager"
            ]
        },
        "ConcatOperandRemoval": {
            "ignore": [
                "Mammatus\\Cron\\Composer\\Installer",
                "Mammatus\\Cron\\Generated\\AbstractManager"
            ]
        },
        "Continue_": {
            "ignore": [
                "Mammatus\\Cron\\Composer\\Installer",
                "Mammatus\\Cron\\Generated\\AbstractManager"
            ]
        },
        "DecrementInteger": {
            "ignore": [
                "Mammatus\\Cron\\Composer\\Installer",
                "Mammatus\\Cron\\Generated\\AbstractManager"
            ]
        },
        "Foreach_": {
            "ignore": [
                "Mammatus\\Cron\\Composer\\Installer",
                "Mammatus\\Cron\\Generated\\AbstractManager"
            ]
        },
        "FalseValue": {
            "ignore": [
                "Mammatus\\Cron\\Composer\\Installer",
                "Mammatus\\Cron\\Generated\\AbstractManager"
            ]
        },
        "FunctionCallRemoval": {
            "ignore": [
                "Mammatus\\Cron\\Composer\\Installer",
                "Mammatus\\Cron\\Generated\\AbstractManager"
            ]
        },
        "GreaterThan": {
            "ignore": [
                "Mammatus\\Cron\\Composer\\Installer",
                "Mammatus\\Cron\\Generated\\AbstractManager"
            ]
        },
        "IncrementInteger": {
            "ignore": [
                "Mammatus\\Cron\\Composer\\Installer",
                "Mammatus\\Cron\\Generated\\AbstractManager"
            ]
        },
        "InstanceOf_": {
            "ignore": [
                "Mammatus\\Cron\\Composer\\Installer",
                "Mammatus\\Cron\\Generated\\AbstractManager"
            ]
        },
        "LogicalNot": {
            "ignore": [
                "Mammatus\\Cron\\Composer\\Installer",
                "Mammatus\\Cron\\Generated\\AbstractManager"
            ]
        },
        "LogicalOr": {
            "ignore": [
                "Mammatus\\Cron\\Composer\\Installer",
                "Mammatus\\Cron\\Generated\\AbstractManager"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "Mammatus\\Cron\\Composer\\Installer",
                "Mammatus\\Cron\\Generated\\AbstractManager"
            ]
        },
        "Minus": {
            "ignore": [
                "Mammatus\\Cron\\Composer\\Installer",
                "Mammatus\\Cron\\Generated\\AbstractManager"
            ]
        },
        "NotIdentical": {
            "ignore": [
                "Mammatus\\Cron\\Composer\\Installer",
                "Mammatus\\Cron\\Generated\\AbstractManager"
            ]
        },
        "RoundingFamily": {
            "ignore": [
                "Mammatus\\Cron\\Composer\\Installer",
                "Mammatus\\Cron\\Generated\\AbstractManager"
            ]
        },
        "Throw_": {
            "ignore": [
                "Mammatus\\Cron\\Composer\\Installer",
                "Mammatus\\Cron\\Generated\\AbstractManager"
            ]
        },
        "UnwrapRtrim": {
            "ignore": [
                "Mammatus\\Cron\\Composer\\Installer",
                "Mammatus\\Cron\\Generated\\AbstractManager"
            ]
        },
        "UnwrapStrReplace": {
            "ignore": [
                "Mammatus\\Cron\\Composer\\Installer",
                "Mammatus\\Cron\\Generated\\AbstractManager"
            ]
        },
        "UnwrapSubstr": {
            "ignore": [
                "Mammatus\\Cron\\Composer\\Installer",
                "Mammatus\\Cron\\Generated\\AbstractManager"
            ]
        }
    }
}
