parameters:
	level: max
	paths:
		- ../../etc
		- ../../src
		- ../../tests
		- ../dev-app
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- Composer\IO\NullIO
				- Mammatus\Cron\Generated\AbstractList
				- Mammatus\Cron\Generated\AbstractManager
